
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom,whitesmoke);
    font-family: 'Volkhov', 'Open Sans', sans-serif, 'Josefin Sans', 'Lato', 'Montserrat', 'Roboto', serif;
    color: white;
    height: 100vh;
    

}
#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr;
    grid-template-areas: 
    "section1 section1 section2 section3"
    "section4 section5 section5 section3";
    gap: 20px;
    height: 100%;
    padding-top: 10px;


}
.title img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding-top: 5px;
}
.title {
    display: flex;
    gap: 20px;
    padding: 10px;
}
.title h2 {
    font-size: 0.9rem;
}
 h3,p {
    line-height: 1.5;
}
#section1 {
    grid-area: section1;
    background-color: blueviolet;
    font-style: 'Volkhov';
    padding: 10px 20px 0 20px;
    font-size: 1rem;


}
#section2 {
    grid-area: section2;
    background-color: rgb(100, 100, 105);
    font-style: 'Volkhov';
}
#section3 {
    grid-area: section3;
    background-color: rgb(221, 219, 220);
    font-style: 'Volkhov';
    color: #000;
}
#section4 {
    grid-area: section4;
    background-color: rgb(233, 233, 228);
    font-style: 'Volkhov';
    color: #000;
}
#section5 {
    grid-area: section5;
    background-color: rgb(10, 10, 10);
    font-style: 'Volkhov';
}
#section1, #section2, #section3, #section4,#section5 {
    padding: 10px 25px 0 25px;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    #container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "section1 section1"
        "section2 section3"
        "section4 section3"
        "section5 section5";
    }
}

@media (max-width:760px) {
    #container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "section1"
        "section2"
        "section3"
        "section4"
        "section5";
        height: 100%;
    }
    p span{
        display: none;
    }
}